@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    
    background-color: #000;
    color: #fff;
  }
}

@layer components {
  .navbar-link {
    display: block;
    padding: 0 0.5rem;
  }

  .navbar-link:hover {
    color: violet;
  }
}